  <footer class="site-footer">
    <div class="footer-inner">
      <div class="footer-quote">
        <p>Code on, conquer bugs, create brilliance.</p>
      </div>
      <hr class="footer-divider">
      <div class="footer-utility">
        <div class="copyright">
          <p>©<%= new Date().getFullYear() %> Mohd Rais Faiq Nichol bin Mohd Ghazali.</p>
        </div>
        <nav class="footer-socials">
          <ul class="social-icons">
            <a href="https://www.linkedin.com/in/mohdraisfaiq/"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://github.com/mraisfaiqn"><ion-icon name="logo-github"></ion-icon></a>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>