body {
  margin:0;
  padding:0;
}

.top-container {
  width: 100vw;
  height: auto;
  position: relative;
  display: block;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}

.name-bio {
  position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); /*NEED MORE UNDERSTANDING*/
  color: white;
}

.name-bio > h1 {
  font-family: "Doto", sans-serif;
  text-align: center;
}

.name-bio > p {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

.mid-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;  
}

.img-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 200px;
  width: 200px;
  border: 5px solid grey;
  border-radius: 50%;
  
}

.about-me {
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
  font-weight: 300;
  font-style: normal;
}

.key-skills {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.professional-exp {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.education {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bottom-container {
  width:100vw;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.quote {
  font-family: "Doto", sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  color: white;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
