@media (max-width: 675px) { /*Set logo size to 100px when window is between 0px - 675px*/
  .logo {
    width: 100px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.main > h1 > span {
  color: #191970;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

